* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.parent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 85%;
    width: 300px;
    background-color: rgba(40, 38, 38, 0.758);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    flex-direction: column;
    gap: 5px;
    border: 3px solid black;
}

.display {
    background-color: rgb(108, 108, 203);
    width: 90%;
    height: 20%;
    padding: 5px;
    border: 2px solid black;
    font-size: 32px;
    color: white;
}

.buttons {
    height: 80%;
    width: 90%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    padding: 5px;
    border: 2px solid black;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3px;
}

.buttons button {
    background-color: rgb(38, 71, 38);
    height: 100%;
    width: 100%;
    color: white;
    font-size: 24px;
    opacity: 1;
    transition: 0.1s;
}

.buttons button:active {
    filter: brightness(1.7);
    scale: 1.05;
    margin: 0 3px 0 3px;
    border-radius: 10px;
}